@import "./app/styles/fonts";
@import "./app/styles/variables";
:root,
html,
body {
  height: 100%;
  font-family: $font-family, sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f7;
}

@import "bootstrap/scss/bootstrap";
