<div class="card">
  <div class="card-header">
    <ng-container [ngTemplateOutlet]="cardHeader"></ng-container>
    <button class="btn btn-sm btn-primary float-end" (click)="activeModal.close()">CLOSE</button>
  </div>
  <div class="card body">
    <div class="m-3">
      <ng-container [ngTemplateOutlet]="template"></ng-container>

      <div class="x-custom-scroll">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of combineDataset()">
              <td>{{ item.xLabel }}</td>
              <td>{{ item.yLabel }}</td>
              <td>{{ item.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
